// .filters {
//   display: flex;
//   justify-content: space-between;
//   width: 600px;
//   margin: auto;
// }

.filters {
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__row {
    display: flex;
    justify-content: space-between;
    // gap: 10px;
  }
}
